<!--COMPLETE ALL LINKS -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Job Find</title>
    <link rel="icon" href="imgs/letter-j.png">     
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/jobFindStyle.css">                                                                                             
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <meta charset="UTF-8">   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    </head>
<body>
<!--Navigation bar-->
        <nav>
            <div class="logo">
                <h2><a href="/">jetLinks</a></h2>
            </div>
        <ul>
        <li><a href="/JobFind">Find Jobs</a></li>
        <li><a href="/Postjobs">Post Jobs</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Register</a></li>
        </ul>
           
    </nav>
<!--Navigation bar end-->
<div class="centre">
<div class="bigButton">
            <a href="/get-data"><button class="findJobButton"><p>Searching for jobs?<br>Click here to explore all jobs</p></button></a>
</div> 
</div>
<br>
<br>
<div class="jobDisplay">
    
    <div>
        {{#each data}}
        <article class="item">
            <div class="row">
                        <div class="title">
                            <div class="form-group">
                                  <label><h3>Job Title</h3></span></label>
                                  <p>{{this.jobTitle}}</p>
                            </div>
                        </div>
                        <div class="type">
                            <div class="form-group">
                                  <label><h3>Job type</h3></label>
                                  <p>{{this.jobType}}</p>
                            </div>
                        </div>
                        <div class="cont">
                            <div class="form-group">
                                  <label><h3>Contact Email</h3></label>
                                  <p>{{this.contactEmail}}</p>
                            </div>
                        </div>
                        <div class="number">
                            <div class="form-group">
                                  <label><h3>Phone number</h3></label>
                                  <p>{{this.phoneNum}}</p>
                            </div>
                        </div>
                        <div class="comp">
                            <div class="form-group">
                                  <label><h3>Company name</h3></label>
                                  <p>{{this.compName}}</p>
                            </div>
                        </div>
                        <div class="sector">
                            <div class="form-group">
                                  <label><h3>Sector</h3></label>
                                  <p>{{this.sectorName}}</p>
                            </div>
                        </div>
                        <div class="descript">
                            <div class="form-group">
                                  <label><h3>Job Description</h3></label>
                                  <p>{{this.descript}}</p>
                            </div>
                        </div>
                        <div>
                        <a href="/confirm"><button class="btn btn-primary">Apply</button></a>
                    </div>
        </article>
        <br>
        <br>
        {{/each}}

    </div>
</div>

<br>
<br>
<div class="centre">
<div class="bigButton">
            <a href="/Postjobs"><button class="findJobButton"><p>Not a recruit?<br>Click here to post a job</p></button></a>
</div> 
</div>
<br>
<br>
<br>


<!--Footer start-->
    <div class="absolute">
        <div class="footer">
            <div class="branding">
                <img src="imgs/letter-j.png" href="/"> <div class="logo"><h2><a href="/">jetLinks</a></h2></div>
            </div>
            <div class="content-links">
                <ul>
                    <li><a href="/JobFind">Find Jobs</a></li>
                    <li><a href="/Postjobs">Post Jobs</a></li>
                    <li><a href="/logIN">Login</a></li>
                    <li><a href="/signup">Register</a></li>
                </ul>
            </div>
            <div class="socials">
                <ul>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        
        </div>  
        <div class="end-footer">
            Copyright &copy; Web Programming Final Project. All rights Reserved
        </div>
        </div>
    <!--Footer end-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>